
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.name-header {
    font-family: fantasy;
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em;
}

.flexbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-family: fantasy;
    color: white;
}

.flexbar li {
    list-style: none;
}

.flexbar a {
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;

}

.flexbar a:hover {
    font-size: 1.1em;
    text-shadow: 5px 5px 10px black;
    background-color: whitesmoke;
}

@media (max-width: 822px) {
    .flexbar {
        width: 100%;
     }   

     .navbar {
        flex-direction: column;
        align-items: flex-start;
     }

     .flexbar ul {
        flex-direction: column;
        width: 100%;
     }

     .flexbar li {
        text-align: center;
     }

     .flexbar li a {
        padding: .5em 1em; 
     }

     /*.flexbar:active {
        display: flex;
     */

}

